#aging-section {
  background: $c-ligh-brown;
  padding: 73px 0 81px 0;
  .title {
    color: $c-semi-dark-blue;
    font-size: 50px;
    letter-spacing: 1px;
  }
  p {
    margin-top: 12px;
    color: $c-dark-blue;
    font-family: Proxima-Nova;
    font-size: 25px;
    padding-right: 10px;
    line-height: 1.3em;
  }
}
