.buy-section {
  padding: 123px 0 150px 0;
  background: $c-light-blue;
  position: relative;
  &--top {
    .buy-section__product-img {
      width: 700px;
      position: relative;
      left: -154px;
      top: 8px;
    }
    .triangle {
      position: absolute;
      bottom: 0;
      &:after {
        border-top: 80px solid $c-light-blue;
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        width: 0;
        height: 0;
        // bottom: 0;
        content: "";
        display: block;
        position: absolute;
        overflow: hidden;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

  }
  &--middle {
    background: #86a6d7;
    padding: 123px 0 127px;
    .wrapper {
      .title {
        font-size: 44px;
        padding-right: 42px;
      }
      &__buttons {
        margin-top: 64px;
      }
    }
  }
  .title {
    color: $c-white;
    font-size: 50px;
    letter-spacing: 1px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .wrapper {
    width: calc(55% - 10px);
    p {
      margin-top: 20px;
      color: $c-white;
      font-family: "Proxima-Nova";
      font-size: 24px;
      line-height: 1.35em;
      letter-spacing: 0.7px;
      padding-right: 12px;
      margin-top: 48px;
      letter-spacing: 0.5px;
      & + p {
        margin-top: 13px;
      }
    }
    &__buttons {
      display: flex;
      // flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 40px;
      .btn {
        // margin-right: 20px;
        padding: 11px 30px 11px 27px;
        border-radius: 26px;
        font-size: 26px;
        font-weight: 300;
        height: 85px;
        letter-spacing: 0.2px;
        &:last-child {
          margin: 0;
          padding: 11px 31px 11px 34px;
          img {
            width: 36px;
            margin-right: 14px;
          }
        }
        img {
          width: 51px;
          margin-right: 18px;
        }
      }
    }
  }
  &__product {
    width: 45%;
    // text-align: center;
    &-img {
      width: 100%;
    }
    .pdf-link {
      font-size: 26px;
      letter-spacing: 1.2px;
      font-weight: 300;
      margin-left: 74px;
    }
  }
  .antioxidants-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    &__item {
      width: 48%;
      display: flex;
      align-items: center;
      margin-bottom: 17px;
      font-family: "Proxima-Nova";
      color: $c-white;
      font-size: 31px;
      font-weight: 300;
      letter-spacing: -0.4px;
      &:nth-child(even) {
        width: calc(42% + 3px);
      }
      sub {}
      img {
        width: 56px;
        margin-right: 23px;
      }
    }
  }
  .cell {
    padding: 33px 71px 51px 71px;
    border-radius: 20px;
    background: $c-semi-dark-blue;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 167px;
    letter-spacing: 1px;
    h3 {
      color: $c-white;
      font-size: 50px;
      width: 100%;
    }
    p {
      margin-top: 25px;
      font-size: 16px;
      color: $c-white;
      width: 63%;
      font-size: 24px;
      line-height: 1.35em;
      font-weight: 300;
      font-family: Proxima-Nova;
      letter-spacing: 0.7px;
    }
    &__img {
      width: 540px;
      position: absolute;
      right: 0;
      transform: translate(45%, -88px);
    }
  }
}
