#feedback-section {
  background: $c-ligh-brown;
  padding: 85px 0;
  .title {
    font-size: 50px;
    color: #328aa5;
    letter-spacing: 1px;
  }

  .btn {
    margin: 79px auto 0;
  }
  .feedback-list {
    margin-top: 33px;
    &__item {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      &:first-child {
        margin: 0;
      }
      &_user {
        width: 215px;
        text-align: center;
        &--icon {
          width: 146px;
          height: 146px;
          background: #338aa6;
          border-radius: 100%;
          margin: auto;
          display: flex;
          justify-content: center;
          img {
            width: 90px;
          }
        }
        &--name {
          margin-top: 17px;
          color: $c-semi-dark-blue;
          font-family: "Proxima-Nova";
          font-size: 26px;
        }
        &--place {
          margin-top: 2px;
          color: #328aa5;
          font-family: "Proxima-Nova";
          font-size: 20px;
        }
        & + .feedback-list__item_details {
          &:after {
            left: 0;
            border-right-color: #fff;
            border-left: 0;
            border-top: 0;
            margin-top: 0;
            margin-left: -35px;
          }
        }
      }
      &_details {
        width: calc(100% - 241px);
        padding: 27px 51px 22px 54px;
        background: $c-white;
        border-radius: 26px;
        box-shadow: 10px 10px 65px -25px #000;
        letter-spacing: 0px;
        line-height: 2em;
        position: relative;
        min-height: 220px;
        display: flex;
        flex-wrap: wrap;
        &:first-child:after{
          border-left-color: #fff;
          border-right: 0;
          border-top: 0;
          margin-top: 0;
          margin-right: -35px;
          right: 0;
        }
        &:after {
          content: '';
          position: absolute;
          top: 65px;
          width: 0;
          height: 0;
          border: 35px solid transparent;
        }
        &--text {
          font-family: "Proxima-Nova";
          color: $c-dark-blue;
          font-size: 25px;
          padding-right: 30px;
        }
        &--date {
          text-align: right;
          color: #328AA5;
          font-size: 20px;
          margin-top: 12px;
          font-family: Proxima-Nova;
          letter-spacing: 0.5px;
          justify-self: flex-end;
          width: 100%;
          align-self: flex-end;
        }
      }
    }
  }
}
