header {
  .container {
    max-width: 1600px;
    // max-width: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn {
    padding: 10px 10px 8px;
    background: $c-dark-blue;
    color: $c-white;
    margin-top: 22px;
    width: 162px;
    &:hover {
      background: darken($c-dark-blue, 10%);
    }
  }
  .logo {
    font-size: 46px;
    font-weight: 600;
    color: $c-dark-blue;
    font-family: "RotondaB";
    letter-spacing: 0.6px;
    width: 230px;
    position: relative;
    top: 3px;
    left: -2px;
  }
  nav {
    padding-left: 20px;
    width: calc(100% - 230px - 162px);
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        font-size: 14px;
        font-weight: 500;
  
        a {
          display: block;
          padding: 92px 27px 74px;
          color: $c-dark-blue;
          // position: relative;
          transition: 0.2s;
          font-size: 18px;
          letter-spacing: 1px;
          span {
            position: relative;
            &:after {
              content: "";
              height: 1px;
              background: $c-light-blue;
              width: 100%;
              position: absolute;
              // bottom: 0;
              bottom: calc(50% - 10px);
              left: 0;
              opacity: 0;
              visibility: hidden;
            }
          }

          &:hover {
            color: $c-light-blue;
          }
          &.active {
            color: $c-light-blue;
            span:after {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}
