
#how-to-slow-section {
    background: url(../img/main-bg.png) no-repeat;
    //   background: #ccc;
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    .container {
      max-width: 1520px;
    }
    .title {
      color: #fff;
      // font-family: 'RotondaB';
      font-size: 64px;
    }
  }
  