#how-to-slow-section {
  background: url(../img/main-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 221px 0 293px 0;
  .container {
    max-width: 1600px;
  }
  .title {
    color: $c-white;
    font-size: 87px;
    line-height: 1.1em;
    letter-spacing: 1px;
    font-weight: 500;
    @media screen and (max-width: 1200px) {
      font-size: 60px;
    }
  }
}
