@import "fonts.scss";
@import "reset.scss";
@import "variables.scss";
@import "feedback.scss";
@import "footer.scss";
@import "header.scss";
@import "buttons.scss";
@import "how-to-slow.scss";
@import "aging.scss";
@import "theories.scss";
@import "free-radicals.scss";
@import "antioxidants.scss";
@import "efficiency.scss";
@import "product.scss";

body {
  font-family: "Panton";
}

.icon {
  display: inline-block;
  &-arrow {
    background: url(../img/arrow.svg);
    width: 20px;
    height: 20px;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}

.pdf-link {
  color: #fff;
  font-family: "Proxima-Nova";
  text-decoration: underline;
}
