@import "fonts.scss";
@import "reset.scss";
@import "variables.scss";
@import "feedback.scss";
@import "footer.scss";
@import "header.scss";
@import "buttons.scss";
@import "how-to-slow.scss";
@import "aging.scss";
@import "theories.scss";
@import "free-radicals.scss";
@import "antioxidants.scss";
@import "efficiency.scss";
@import "buy.scss";
@import "modal.scss";

body {
  font-family: "Panton";
}

.icon {
  display: inline-block;
  &-arrow {
    background: url(../img/arrow.svg);
    width: 23px;
    height: 23px;
  }
}

.container {
  width: 100%;
  max-width: 1304px;
  margin: auto;
  padding: 0 40px;
}

.pdf-link {
  color: $c-white;
  font-family: "Proxima-Nova";
  text-decoration: underline;
}

main {
  overflow: hidden;
  padding-top: 188px;
}

sub, sup {
  line-height: 0;
}
section {
}
